---
import BienvenidaBotines from '../components/BienvenidaBotines.astro';
import ComoComprar from '../components/ComoComprar.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import SeccionBotines from '../components/SeccionBotines.astro';
import SeccionZapas from '../components/SeccionZapas.astro';
import SectionContainer from '../components/SectionContainer.astro';
import TresRectangulos from '../components/TresRectangulos.astro';
import VideosEntregados from '../components/VideosEntregados.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Botines Premium JM - Venta de botines profesional" description="Venta de botines de fútbol, fútbol 5 y futsal de las mejores marcas. Envíos a todo el país.">
	<main class="px-8 ">
		<Header />
		<BienvenidaBotines id="Inicio" />
		<TresRectangulos />
		<SectionContainer id="Destacados" />
	<SeccionBotines />
	<SectionContainer />
	<SectionContainer  />
	<SeccionZapas />
	<SectionContainer />
	<SectionContainer id="entregas">
	<VideosEntregados  />
	</SectionContainer>
	<SectionContainer id="comprar">
	<ComoComprar />
	</SectionContainer>
 </main>
<Footer />
</Layout>
