---
const navItems = [
  {
    title: "Inicio",
    label: "Inicio",
    url: "/#Inicio",
  },
  {
    title: "Destacados",
    label: "Destacados",
    url: "/#Destacados",
  },
  {
    title: "Entregas",
    label: "Entregas",
    url: "/#entregas",
  },
  {
    title: "Comprar",
    label: "comprar",
    url: "/#comprar",
  },
]
---

<header class="bg-white shadow-sm">
  <div class="container mx-auto px-4">
    <nav class="flex flex-col sm:flex-row items-center justify-between py-4 sm:h-16">
      <div class="flex-shrink-0 mb-4 sm:mb-0 text-center sm:text-left w-full sm:w-auto">
        <a href="/" class="text-xl sm:text-2xl font-bold text-black">Botines Premium JM</a>
      </div>
      <div class="w-full sm:w-auto">
        <ul class="flex  justify-center sm:justify-end space-x-1 sm:space-x-2">
          {navItems.map((link) => (
            <li>
              <a
                class="block px-2 py-1 text-sm sm:text-base whitespace-nowrap transition hover:text-gray-500"
                aria-label={link.label}
                href={link.url}
              >
                {link.title}
              </a>
            </li>
          ))}
        </ul>
      </div>
    </nav>
  </div>
</header>

<style>
  @media (max-width: 639px) {
    .overflow-x-auto {
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }

    .overflow-x-auto::-webkit-scrollbar {
      display: none;
    }
  }
</style>